@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Fredoka', 'Quicksand', sans-serif; /* Fonte ultra redonda e lúdica */
}

body {
  color: #222222; /* brand-text */
  background-color: #F5F7FA; /* brand-light */
}

/* Utilitários FunCare */
.wavy-border {
  border-radius: 40px;
}
